<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <h1>PNT2 TP2 Sebastian Katz</h1>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDNI" placeholder="Ingrese DNI">
    <div class="alert alert-danger" role="alert" v-if="criterioDeBusquedaDNI.length<3">Ingrese 3 caracteres</div>
    <div class="alert alert-success" role="alert" v-if="criterioDeBusquedaDNI.length>=3">
        Mínima cantidad de caracteres correctos.
    </div>
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaNyA" placeholder="Ingrese Nombre y Apellido">
    <div class="alert alert-danger" role="alert" v-if="criterioDeBusquedaNyA.length<3">Ingrese 3 caracteres</div>
    <div class="alert alert-success" role="alert" v-if="criterioDeBusquedaNyA.length>=3">
        Mínima cantidad de caracteres correctos.
    </div>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaDNI: '',
            criterioDeBusquedaNyA: '',
            cantMinCaracteres: 3,
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Sebastian",
                    apellido: "Katz",
                    correo: "sebikatzcatz@gmail.com",
                    dni: "41702821"
                },
                {
                    nombre: "Gustavo",
                    apellido: "Katz",
                    correo: "gustavokatz@hotmail.com",
                    dni: "12345678"
                },
                {
                    nombre: "Gabriela",
                    apellido: "catz",
                    correo: "gabrielacatz@hotmail.com",
                    dni: "54325324"
                },
                {
                    nombre: "Mariano",
                    apellido: "Apellido",
                    correo: "mapellido@hotmail.com",
                    dni: "98765432"
                },
                {
                    nombre: "Lucas",
                    apellido: "Perez",
                    correo: "lucasPerez@hotmail.com",
                    dni: "45324654"
                },
                {
                    nombre: "Oscar",
                    apellido: "Apellido",
                    correo: "oApellido@hotmail.com",
                    dni: "45322243"
                }
            ]

        },
        computed: {
            personasFiltradas() {
                if(this.validarNyA() && this.validarDNI()) {
                    return this.filtrarDoble()
                }
                if(this.validarNyA()) {
                    return this.filtrarPorNyA()
                }
                if(this.validarDNI()) {
                    return this.filtrarPorDNI()
                }
                return this.personas             
            }          
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            filtrarPorDNI() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.dni}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusquedaDNI.toLowerCase())
                })
            },
            filtrarPorNyA() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusquedaNyA.toLowerCase())
                })
            },
            filtrarDoble() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni}`                        
                    return (registroCompleto.toLowerCase().includes(this.criterioDeBusquedaNyA.toLowerCase()) && (registroCompleto.toLowerCase().includes(this.criterioDeBusquedaDNI.toLowerCase())))
                })
            },
            validarNyA() {
                return this.criterioDeBusquedaNyA.length >= this.cantMinCaracteres
            },
            validarDNI() {
                return this.criterioDeBusquedaDNI.length >= this.cantMinCaracteres
            }
        }
    });
</script>